@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --font-primary-color: #a25c58;
    --font-p-color: #6c6868;

    --border-color: #a25c58;
    --row-container-color: white;

    /* FONTS */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.8rem;
    background-color: white;
}

h1,
h2,
h3 {
    color: var(--font-primary-color);
}

figure {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 136.6rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

figure figcaption {
    text-align: center;
}

footer {
    width: 100%;
    height: 20px;
    background-image: url('./assets/img/fblue1.png');
}

main {
    width: 136.6rem;
    height: auto;
    padding: 1.6rem;
    background-image: url('./assets/img/fundorosa.png');
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: black;
    margin: 2.0rem;
    color: var(--font-p-color);
}

span {
    font-weight: 700;
    color: var(--font-primary-color);
}

ul {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

li {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0.3rem;
}

ul li.itens {
    margin-left: 5.0rem;
}

a {
    color: var(--font-primary-color);
    text-decoration: none;
    margin-left: 3.0rem;
}

a:active,
a:hover,
a:visited {
    color: var(--font-primary-color);
}

.titlesection{
    border-style: solid;
    border-color: var(--font-primary-color);
    border-top: 100%;
    border-bottom: 100%;
}


/*  PAGE */
.wrapper {
    width: 136.6rem;
    max-width: 136.6rem;
    height: auto;
    margin: 0 auto;
    background-image: url('./assets/img/fundorosa');
}

/*  HEADER */
.master-header {
    width: 100%;
    height: 11.0rem;
    padding: 1.0rem;
    background-color: white;
}

.header-logo {
    width: 300px;
    height: inherit;
    background-image: url('./assets/img/logotop.png');
    background-repeat: no-repeat;
    float: left;
}

.header-title {
    display: flex;
    width: 450px;
    height: auto;
    padding: 2.0rem;
    float: right;
    align-items: center;
    justify-content: center;
}

/*  MAIN */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    width: 100%;
    height: calc(100% - 1.6rem);
    padding-bottom: 1.6rem;
    border-radius: 15px;
    background-image: url('./assets/img/fundorosa');
}

.content-sumary {
    width: 96%;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 15px;
}

.content-row {
    width: 96%;
    height: auto;
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 15px;
    background-color: white;
    /* background-image: url('./assets/img/fpurple.png'); */
    border: 1px solid var(--border-color);
}

.subsection {
    width: 100%;
    height: auto;
    padding: 1.6rem;
    margin-bottom: 1.0rem;
}

/* FOOTER */
.master-footer {
    width: 100%;
    height: 20px;
    background-image: url('./assets/img/flime.png');
    border: 1px solid white;
}

.footer-info {
    display: inline;
    float: center;
    border: 1px solid white;
}

.footer-powerby {
    float: right;
    background-image: url('./assets/img/flime.png');
    border: 1px solid white;
}