* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url('./assets/img/fblue.png');
}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url('./assets/img/fblue.png');
}

main {
    width: 100%;
    height: 768px;
    padding: 1.6rem;
    background-image: url('./assets/img/fgreen.png');
}

footer {
    width: 100%;
    height: 20px;
    background-image: url('./assets/img/fblue1.png');
}

.master-header {
    width: 100%;
    height: 11.0rem;
    padding: 1.0rem;
    background-image: url('./assets/img/fbutton.png');
    border: 2px solid white;
}

.header-logo {
    width: 300px;
    height: inherit;
    background-image: url('./assets/img/logotop.png');
    background-repeat: no-repeat;
    float: left;
}

.header-title {
    display: flex;
    width: 300px;
    height: inherit;
    float: right;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    width: 100%;
    height: calc(100% - 1.6rem);
    background-image: url('./assets/img/fbutton.png');
    border: 2px solid white;
}

.content-sumary {
    width: 96%;
    height: 200px;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 15px;
    background-image: url('./assets/img/fblue.png');
    border: 2px solid white;
}

.content-row {
    width: 96%;
    height: 100px;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: inherit;
    background-image: url('./assets/img/fpurple.png');
    border: 2px solid white;
}

.master-footer {
    width: 100%;
    height: 20px;
    background-image: url('./assets/img/flime.png');
    border: 1px solid white;
}

.footer-info {
    display: inline;
    float: center;
    border: 1px solid white;
}

.footer-powerby {
    float: right;
    background-image: url('./assets/img/flime.png');
    border: 1px solid white;
}